<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.custom.appointmentListing.AppointmentListingMapper">
    <resultMap id="AppointmentListingResultMap" type="xyz.tamutheo.databaseAPI.custom.appointmentListing.AppointmentListingModel">
        <result property="appointmentId" column="appointment_id" />
        <result property="appointmentDate" column="appointment_date" />
        <result property="appointmentStatusName" column="appointment_status_name" />
        <result property="appointmentTypeName" column="appointment_type_name" />
        <result property="endTimeValue" column="end_time_value" />
        <result property="locationName" column="location_name" />
        <result property="startTimeValue" column="start_time_value" />
        <result property="tuteeEmail" column="tutee_email" />
        <result property="tuteeFirstName" column="tutee_first_name" />
        <result property="tuteeLastName" column="tutee_last_name" />
        <result property="tuteePhoneNumber" column="tutee_phone_number" />
        <result property="tutorEmail" column="tutor_email" />
        <result property="tutorFirstName" column="tutor_first_name" />
        <result property="tutorLastname" column="tutor_last_name" />
        <result property="tutorPhoneNumber" column="tutor_phone_number" />
    </resultMap>
    <select id="read" resultMap="AppointmentListingResultMap">
        SELECT a.appointment_id,
            a.appointment_date,
            t.appointment_type_name,
            tutor.first_name AS tutor_first_name,
            tutor.last_name AS tutor_last_name,
            tutor.phone_number AS tutor_phone_number,
            tutor.email AS tutor_email,
            tutee.first_name AS tutee_first_name,
            tutee.last_name AS tutee_last_name,
            tutee.phone_number AS tutee_phone_number,
            tutee.email AS tutee_email,
            sti.time_value AS start_time_value,
            eti.time_value AS end_time_value,
            l.location_name,
            s.appointment_status_name
        FROM appointment AS a
        INNER JOIN appointment_type AS t ON a.appointment_type_id = t.appointment_type_id
        INNER JOIN tutor ON a.tutor_id = tutor.tutor_id
        INNER JOIN tutee ON a.tutee_id = tutee.tutee_id
        INNER JOIN time_increment AS sti ON a.start_time_id = sti.time_id
        INNER JOIN time_increment AS eti ON a.end_time_id = eti.time_id
        INNER JOIN location AS l ON a.location_id = l.location_id
        INNER JOIN appointment_status AS s ON a.appointment_status_id = s.appointment_status_id
        <where>
            <if test="tutorId != null">
                a.tutor_id = #{tutorId}
            </if>
            <if test="tuteeId != null">
                AND a.tutee_id = #{tuteeId}
            </if>
        </where>
    </select>
</mapper>









