<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.appointmentType.AppointmentTypeMapper">
    <resultMap id="AppointmentTypeResultMap" type="xyz.tamutheo.databaseAPI.appointmentType.AppointmentTypeModel">
        <result property="" column="" />
        <result property="appointmentTypeId" column="appointment_type_id" />
        <result property="appointmentTypeName" column="appointment_type_name" />
    </resultMap>
    <select id="read" resultMap="AppointmentTypeResultMap">
        SELECT
        *
        FROM appointment_type
    </select>
</mapper>