<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.course.CourseMapper">
    <resultMap id="CourseResultMap" type="xyz.tamutheo.databaseAPI.course.CourseModel">
        <result property="courseId" column="course_id" />
        <result property="courseTitle" column="course_title" />
        <result property="majorAbbreviation" column="major_abbreviation" />
        <result property="courseNumber" column="course_number" />
    </resultMap>
    <select id="read" resultMap="CourseResultMap">
        SELECT
        *
        FROM course
    </select>
</mapper>