<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.initiatorType.InitiatorTypeMapper">
    <resultMap id="InitiatorTypeResultMap" type="xyz.tamutheo.databaseAPI.initiatorType.InitiatorTypeModel">
        <result property="initiatorTypeId" column="initiator_type_id" />
        <result property="initiatorTypeName" column="initiator_type_name" />
    </resultMap>
    <select id="read" resultMap="InitiatorTypeResultMap">
        SELECT
        *
        FROM initiator_type
    </select>
</mapper>