<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.location.LocationMapper">
    <resultMap id="LocationResultMap" type="xyz.tamutheo.databaseAPI.location.LocationModel">
        <result property="locationId" column="location_id" />
        <result property="locationName" column="location_name" />
        <result property="isIndoor" column="is_indoor" />
        <result property="isOnCampus" column="is_oncampus" />
        <result property="isOnline" column="is_online" />
    </resultMap>
    <select id="read" resultMap="LocationResultMap">
        SELECT
        *
        FROM location
    </select>
</mapper>