<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.tutorTimePreference.TutorTimePreferenceMapper">
    <resultMap id="TutorTimePreferenceResultMap" type="xyz.tamutheo.databaseAPI.tutorTimePreference.TutorTimePreferenceModel">
        <result property="endTimeValue" column="end_time"/>
        <result property="startTimeValue" column="start_time"/>
        <result property="tutorEmail" column="tutor_email"/>
        <result property="weekdayName" column="weekday_name"/>
    </resultMap>
    <insert id="create" parameterType="xyz.tamutheo.databaseAPI.tutorTimePreference.TutorTimePreferenceModel">
        INSERT INTO tutor_time_preference
        (end_time, start_time, tutor_email, weekday_name)
        VALUES
        (#{endTimeValue}, #{startTimeValue}, #{tutorEmail}, #{weekdayName})
    </insert>
    <select id="read" resultMap="TutorTimePreferenceResultMap">
        SELECT
        *
        FROM tutor_time_preference
        <where>
            <if test="tutorEmailEquals != null">
                AND tutor_email = #{tutorEmailEquals}
            </if>
        </where>
    </select>
    <delete id="deleteAll" parameterType="map">
        DELETE FROM tutor_time_preference
        <where>
            <if test="tutorEmail != null">
                AND tutor_email = #{tutorEmail}
            </if>
            <if test="weekdayName != null">
                AND weekday_name = #{weekdayName}
            </if>
        </where>
    </delete>
</mapper>