<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.custom.tutorListing.TutorListingMapper">
    <resultMap id="TutorListingResultMap" type="xyz.tamutheo.databaseAPI.custom.tutorListing.TutorListingModel">
        <result property="activeStatusName" column="active_status_name" />
        <result property="bioText" column="bio_text" />
        <result property="email" column="email" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <result property="listingTitle" column="listing_title" />
        <result property="majorName" column="major_name" />
        <result property="majorAbbreviation" column="major_abbreviation" />
        <result property="numberOfRatings" column="number_of_ratings" />
        <result property="payRate" column="pay_rate" />
        <result property="phoneNumber" column="phone_number" />
        <result property="pictureUrl" column="picture_url" />
        <result property="averageRating" column="average_rating" />
        <result property="seniorityName" column="seniority_name" />
        <result property="tutorId" column="tutor_id" />
        <result property="uin" column="uin" />
    </resultMap>
    <resultMap id="TutorCoursePreferenceResultMap" type="xyz.tamutheo.databaseAPI.custom.tutorListing.nestedModels.TutorCoursePreferenceModel">
        <result property="majorAbbreviation" column="major_abbreviation" />
        <result property="courseGrade" column="course_grade" />
        <result property="courseTitle" column="course_title" />
        <result property="courseNumber" column="course_number" />
    </resultMap>
    <resultMap id="TutorLocationPreferenceResultMap" type="xyz.tamutheo.databaseAPI.custom.tutorListing.nestedModels.TutorLocationPreferenceModel">
        <result property="locationName" column="location_name" />
    </resultMap>
    <select id="read" resultMap="TutorListingResultMap">
        SELECT t.tutor_id, t.uin, t.first_name, t.last_name, t.pay_rate, t.bio_text, t.listing_title, t.picture_url, t.phone_number, t.email, m.major_name, m.major_abbreviation, s.seniority_name, a.active_status_name, ar.average_rating, nr.number_of_ratings
        FROM tutor as t
        INNER JOIN major AS m on t.major_id = m.major_id
        INNER JOIN seniority AS s on t.seniority_id = s.seniority_id
        INNER JOIN active_status AS a on t.active_status_id = a.active_status_id
        INNER JOIN tutor_average_rating AS ar ON t.tutor_id = ar.tutor_id
        INNER JOIN
        (SELECT tutor_id, COUNT(*) AS number_of_ratings
        FROM tutor_review
        GROUP BY tutor_id) AS nr ON t.tutor_id = nr.tutor_id
        <where>
            <if test="tutorId != null">
                t.tutor_id = #{tutorId}
            </if>
        </where>
    </select>
    <select id="getTutorLocationPreferences" parameterType="map" resultMap="TutorLocationPreferenceResultMap">
        SELECT l.location_name
        FROM tutor_location_preference as p
        INNER JOIN location as l ON p.location_id = l.location_id
        WHERE p.tutor_id = #{tutorId};
    </select>
    <select id="getTutorCoursePreferences" parameterType="map" resultMap="TutorCoursePreferenceResultMap">
        SELECT e.course_grade, c.course_title, c.major_abbreviation, c.course_number
        FROM tutor_course_preference AS p
        INNER JOIN tutor_eligible_course AS e ON p.eligibility_id = e.eligibility_id
        INNER JOIN course AS c ON e.course_id = c.course_id
        WHERE p.tutor_id = #{tutorId};
    </select>
</mapper>