<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.tutorEligibleCourse.TutorEligibleCourseMapper">
    <resultMap id="TutorEligibleCourseResultMap" type="xyz.tamutheo.databaseAPI.tutorEligibleCourse.TutorEligibleCourseModel">
        <result property="courseGrade" column="course_grade"/>
        <result property="courseNumber" column="course_number"/>
        <result property="majorAbbreviation" column="major_abbreviation"/>
        <result property="tutorEmail" column="tutor_email"/>
    </resultMap>
    <select id="read" resultMap="TutorEligibleCourseResultMap">
        SELECT
        *
        FROM tutor_eligible_course
        <where>
            <if test="courseGradeInList != null" >
                AND course_grade in
                <foreach item="item" index="index" collection="courseGradeInList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="courseNumberEquals != null" >
                AND course_number = #{courseNumberEquals}
            </if>
            <if test="courseNumberGreaterThanOrEquals != null" >
                AND course_number &gt;= #{courseNumberGreaterThanOrEquals}
            </if>
            <if test="courseNumberLessThanOrEquals != null" >
                AND course_number &lt;= #{courseNumberLessThanOrEquals}
            </if>
            <if test="majorAbbreviationContains != null" >
                <bind name="majorAbbreviationContainsPattern" value = "'%' + majorAbbreviationContains + '%'" />
                AND LOWER(major_abbreviation) LIKE LOWER(#{majorAbbreviationContainsPattern})
            </if>
            <if test="tutorEmailContains != null" >
                <bind name="tutorEmailContainsPattern" value = "'%' + tutorEmailContains + '%'" />
                AND LOWER(tutor_email) LIKE LOWER(#{tutorEmailContainsPattern})
            </if>
        </where>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="limit != null and offset != null">
            OFFSET #{offset}
        </if>
    </select>
    <insert id="create" parameterType="xyz.tamutheo.databaseAPI.tutorEligibleCourse.TutorEligibleCourseModel">
        INSERT into tutor_eligible_course
        (course_grade, course_number, major_abbreviation, tutor_email)
        VALUES
        (#{courseGrade}, #{courseNumber}, #{majorAbbreviation}, #{tutorEmail})
    </insert>
    <delete id="delete" parameterType="xyz.tamutheo.databaseAPI.tutorEligibleCourse.TutorEligibleCourseModel">
        DELETE FROM tutor_eligible_course
        <where>
            <if test="courseNumber != null">
                AND course_number = #{courseNumber}
            </if>
            <if test="majorAbbreviation != null">
                AND major_abbreviation = #{majorAbbreviation}
            </if>
            <if test="tutorEmail != null">
                AND tutor_email = #{tutorEmail}
            </if>
        </where>
    </delete>
    <delete id="deleteAll" parameterType="map">
        DELETE FROM tutor_eligible_course
        WHERE tutor_email = #{tutorEmailEquals}
    </delete>
</mapper>