<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tamutheo.databaseAPI.userActiveStatus.UserActiveStatusMapper">
    <resultMap id="UserActiveStatusResultMap" type="xyz.tamutheo.databaseAPI.userActiveStatus.UserActiveStatusModel">
        <result property="userActiveStatusName" column="user_active_status_name" />
    </resultMap>
    <select id="read" resultMap="UserActiveStatusResultMap">
        SELECT
        *
        FROM user_active_status
        <where>
            <if test="userActiveStatusName != null">
                <bind name="userActiveStatusNamePattern" value = "'%' + userActiveStatusName + '%'" />
                AND LOWER(user_active_status_name) LIKE LOWER(#{userActiveStatusNamePattern})
            </if>
        </where>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="limit != null and offset != null">
            OFFSET #{offset}
        </if>
    </select>
</mapper>